@model MerchantManage.Models.Zone

@{
    ViewBag.Title = "EditZone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("UpdateZone", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>Edit a zone.</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.ID, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ID,null, new { @Value = ViewBag.id })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name,null, new { @Value = ViewBag.name })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Logo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Logo, null,new { @Value = ViewBag.logo })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Template, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <textarea class="form-control" name="template">@ViewBag.template</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Apply" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>






