@using MerchantManage.Models
@model Merchant

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("UpdateMerchant", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>Edit a merchant.</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(m => m.merid, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                          @Html.TextBoxFor(m => m.merid,null, new { @Value =ViewBag.merid })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.mername, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.mername, null, new { @Value = ViewBag.mername })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.username, null, new { @Value = ViewBag.username })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.password, null, new { @Value = ViewBag.password })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.uri, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.uri, null, new { @Value = ViewBag.uri })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.logo, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.logo, null, new { @Value = ViewBag.logo })
                    </div>
                </div>
                <div class="form-group"> 
                    @Html.LabelFor(m => m.description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.description, new {@class= "form-control", @value = ViewBag.description })
                    </div>
                </div> 
                <div class="form-group">
                    @Html.LabelFor(m => m.XsltTemplate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <textarea class="form-control" name="XsltTemplate">@ViewBag.XsltTemplate</textarea>
                    </div>
                </div>
                    <div class="form-group" >
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Apply" class="btn btn-default" />
                        </div>
                    </div>
            }
            </section>
</div>
</div>