@model MerchantManage.Models.Zone
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "GestionZone";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        <table class="table table-striped table-hover table-responsive">
            <tr>
                <th> ID </th>
                <th> Name </th>
                <th> Logo </th>
             
            </tr>
            @if (ViewBag.Results != null)
            {
                foreach (var zone in ViewBag.Results)
                {
                    <tr>
                        <td> @zone.ID </td>
                        <td> @zone.Name </td>
                        <td> @zone.Logo </td>
                        
                        <td>
                            @Html.ActionLink("Edit", "/EditZone", new { id = zone.ID }) |
                            @Html.ActionLink("Delete", "/DeleteZone", new { id = zone.ID })
                        </td>
                    </tr>
                }
            }
        </table>
        <script type="text/javascript">
            $(document).ready(function () {
              $('#btnajouter').click(function (e)
              {
                    location.href = '@Url.Content("~/Admin/AddZone/")';
              });
            });
        </script>
        <input id='btnajouter' type="button" value="Add Zone" />
    </div>
</body>
</html>

